<% #Jaymie Deschênes 10 novembre 2021 %>
<p>
    <h1>
        <%= @recette.user.nom %> <%= @recette.user.prenom %>
    </h1>
</p>
<p>
    <h2>
        <%= @recette.titre %> 
    </h2>
</p> 
<p>
    <h3>
        Étapes :
    </h3>
    <%= @recette.etapes %>
</p>
<p> 
    Nombre d'ingrédients: <%= @recette.ingredients.count %>
    
</p>
